html{
    font-family: 'Inter', sans-serif;
}
body{
    margin: 0;
}
.section{
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center;
}
.section h2{
    font-size: 48px;
    line-height: 64px;
    margin-bottom: 40px;
    max-width: 730px;
    margin-left: auto; 
    margin-right: auto;
}
.color-section {
    background: #8C30F5;
    color: #ffffff;
}
.btn{
padding: 12px 32px;
text-decoration: none;
border-radius: 6px;
}

.btn-white{
    background: #ffffff;
    color: #8C30F5
    
}
.btn-white:hover{
    background: #0B0D17;
    color: white;
}
.section a{
    font-size: 16px;
    line-height: 24px;
}
.row{
    display: flex;
    width: 100%;
    max-width: 1110px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    margin-top: 64px;
   
}
.items{
    display: flex;
    column-gap: 16px;
}